@charset "UTF-8";

body{
    background-color: rgb(245, 245, 245);
    font-size: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 110, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(255, 208, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(43, 43, 43);
    text-align: justify;
}