@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

main{
    background-color: white;
    width: 850px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(245, 222, 179, 0.493);
    padding: 10px;
}
body{
    background-color: rgb(236, 232, 226);
     
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 700;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 400;   
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 200;
    text-indent: 1em;
    text-align: justify;
}

/*
    Classes
    Titulo Principal = princip
    Subtitulos = sub
    paragrafo = parag
    */

.princip{
    background-color: rgb(69, 255, 52);
    font-style: italic;
    width: fit-content;
}

.imgh{
    width: 800px;
    height: 400px;
    padding: 20px;
}
#msc{
    text-align: center;
}
#logo{
    height: 200px;
}