@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #9e877393;  /*sombra da caixa*/
    border-radius: 5px;   /*curvatura da borda*/
    width: 700px;  /*tamanho em horizontal*/
    margin: auto;  /*margem*/
    padding: 10px; /*distancia da letra ate a borda*/

}
body{
    background-color: #F2E0D5;
}
h1{
    color: #90a2d6;
    text-align: center;
    text-shadow: 1px 1px 2px #5d698bbd;  /*sombra do texto*/
}
h2{
    color: #595045;
}
p{
    text-align: justify;
}
div{
    background-color: #ffffff;
    border-radius: 5px;
    width: 400px;
    box-shadow: 5px 5px 10px #9e877393;
      
}
h2{
    text-align: center;
    text-shadow: 1px 1px 2px #5d698bbd;
}