body{
    background-color: #1d1e24e7;
    font-family: "Poppins", sans-serif;
    
}
header{
    text-align: center;
    color: white;

}
section{
    background-color: whitesmoke;
    width: 600px;
    margin: auto;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;

    
}
div{
    text-align: center ;
}
div#Hours{
    padding-top: 10px;
    padding-bottom: 10px;

}
img#imag{
    width: 500px;
    height: 300px;
    
}
footer{
    color: white;
    text-align: center;
    
}